<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.480189775377-lsf1d1nj5l6pl44nt21e3huf39b8jqhc</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>480189775377-lsf1d1nj5l6pl44nt21e3huf39b8jqhc.apps.googleusercontent.com</string>
</dict>
</plist>
